
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    
  <title></title>
</head>
<body>


<div class="container">

  <div class="row">
    <div class="col-sm cajas">
        <div class="tactilproducts">
            <span>Productos</span>
        </div>
    </div>
    <div class="col-sm cajas">
        <div class="tactillogin">
            <span>Login</span>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm cajas">
        <div class="tactilregistro">
            <span>Registro</span>
        </div>
    </div>
    <div class="col-sm cajas">
        <div class="tactilseguir">
            <span>Seguir</span>
        </div>
    </div>
  </div>
  
</div>


    <div>
        <input type="button" onclick="startArtyom()" value="Start"/><br>
        <input type="button" onclick="stopArtyom()" value="Stop"/><br>
        <span id="output"></span>
    </div>

</body>
<script src="js/jquery-3.4.1.js"></script>
<script>
    
        console.log("testeando");
        $( "div.tactilproducts" ).mousedown(function() {
            alert("funca");
        }).mouseup(function() {
            alert("dejjo");
        });
    </script>

</html>


